body {
    display: grid; 
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    margin: 0;
}

.sidebar {
    background-color: brown;
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    background-color: blue;
    grid-area: 1 / 2 / 2 / 3;
}

.dashboard {
    background-color: grey;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cards {
    background-color: aqua;
    grid-area: 1 / 1 / 2 / 2
}

.highlights {
    background-color: green;
    grid-area: 1 / 2 / 2 / 3;
}